In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Datasets (Machine Learning)/covtype.data")
df

,2596,51,3,258,0,510,221,232,148,6279,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,5
0,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
1,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
2,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
3,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
4,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581006,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581007,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581008,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581009,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581010,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets (Machine Learning)/covtype.data', header = None)

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [4]:
df.columns = ['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15',
              'C16','C17', 'C18','C19','C20', 'C21','C22','C23','C24','C25','C26', 'C27','C28',
              'C29','C30','C31','C32','C33','C34','C35','C36','C37','C38','C39','C40','C41','C42',
              'C43','C44','C45','C46','C47','C48','C49','C50','C51','C52','C53','C54','C55']
df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C46,C47,C48,C49,C50,C51,C52,C53,C54,C55
0,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
1,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
2,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
3,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
4,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2

In [5]:
x = df.drop(columns = ['C55'])
x

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C45,C46,C47,C48,C49,C50,C51,C52,C53,C54
0,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,0
1,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,0
2,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,0
3,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,0
4,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581006,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,0
581007,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,0
581008,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,0
581009,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,0
581010,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y = df['C55']
y

0         5
1         2
2         2
3         5
4         2
         ..
581006    3
581007    3
581008    3
581009    3
581010    3
Name: C55, Length: 581011, dtype: int64

In [8]:
#Standardization
from sklearn.preprocessing import MinMaxScaler
mm_scalar = MinMaxScaler()
mm_scalar = mm_scalar.fit(x)
x = mm_scalar.transform(x)
x

array([[0.36568284, 0.15555556, 0.03030303, ..., 0.        , 0.        ,
        0.        ],
       [0.47273637, 0.38611111, 0.13636364, ..., 0.        , 0.        ,
        0.        ],
       [0.46323162, 0.43055556, 0.27272727, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.26363182, 0.44166667, 0.25757576, ..., 0.        , 0.        ,
        0.        ],
       [0.26263132, 0.47222222, 0.22727273, ..., 0.        , 0.        ,
        0.        ],
       [0.26213107, 0.45833333, 0.1969697 , ..., 0.        , 0.        ,
        0.        ]])

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0, stratify=y)

In [10]:
from sklearn.linear_model import Perceptron
modelP = Perceptron(max_iter = 50, eta0 = 0.01, random_state = 1)
modelP.fit(x_train, y_train)

Perceptron(eta0=0.01, max_iter=50, random_state=1)

In [11]:
y_predict = modelP.predict(x_test)
y_predict

array([3, 3, 2, ..., 2, 2, 1])

In [12]:
print(y_predict)

[3 3 2 ... 2 2 1]

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))

0.6787509179364788

In [14]:
from sklearn.linear_model import SGDClassifier
modelS = SGDClassifier(max_iter =50, eta0=0.1, random_state=0)
modelS.fit(x_train, y_train)

SGDClassifier(eta0=0.1, max_iter=50, random_state=0)

In [15]:
y_predictS = modelS.predict(x_test)
y_predictS

array([3, 3, 2, ..., 2, 2, 1])

In [16]:
print(accuracy_score(y_test, y_predictS))

0.7113606113456948

In [17]:
from sklearn.linear_model import LogisticRegression
modelLR = LogisticRegression()
modelLR.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [18]:
y_predictLR = modelLR.predict(x_test)
y_predictLR

array([3, 3, 2, ..., 2, 2, 1])

In [19]:
print(accuracy_score(y_test, y_predictLR))

0.7195187718009913

In [20]:
from sklearn.neighbors import KNeighborsClassifier
modelknn = KNeighborsClassifier(n_neighbors = 3)
modelknn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [21]:
y_predictKnn = modelknn.predict(x_test)
y_predictKnn

array([4, 2, 2, ..., 2, 2, 1])

In [22]:
print(accuracy_score(y_test, y_predictKnn))

0.938349091242886

In [23]:
from sklearn.svm import SVC
modelsvm = SVC(kernel='linear', max_iter=20)
modelsvm.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:289: ConvergenceWarning: Solver terminated early (max_iter=20).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  ConvergenceWarning,

SVC(kernel='linear', max_iter=20)

In [24]:
y_predictSVM = modelknn.predict(x_test)
y_predictSVM

array([4, 2, 2, ..., 2, 2, 1])

In [25]:
print(accuracy_score(y_test, y_predictSVM))

0.938349091242886

In [28]:
from sklearn import tree
modelTree = tree.DecisionTreeClassifier()
modelTree = modelTree.fit(x_train, y_train)

In [29]:
y_predictTree = modelknn.predict(x_test)
y_predictTree

array([4, 2, 2, ..., 2, 2, 1])

In [30]:
print(accuracy_score(y_test, y_predictTree))

0.938349091242886

In [31]:
# Classification Report for Perceptron Model
from sklearn.metrics import classification_report 
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           1       0.72      0.54      0.62     63552
           2       0.68      0.84      0.75     84991
           3       0.60      0.89      0.72     10726
           4       0.69      0.21      0.32       824
           5       0.11      0.06      0.08      2848
           6       0.42      0.05      0.08      5210
           7       0.67      0.39      0.49      6153

    accuracy                           0.68    174304
   macro avg       0.56      0.42      0.44    174304
weighted avg       0.67      0.68      0.66    174304

In [32]:
# Classification Report for Adaline
from sklearn.metrics import classification_report 
print(classification_report(y_test, y_predictS))

              precision    recall  f1-score   support

           1       0.70      0.70      0.70     63552
           2       0.74      0.79      0.76     84991
           3       0.60      0.88      0.72     10726
           4       0.54      0.14      0.22       824
           5       0.30      0.03      0.06      2848
           6       0.55      0.02      0.04      5210
           7       0.67      0.45      0.54      6153

    accuracy                           0.71    174304
   macro avg       0.59      0.43      0.43    174304
weighted avg       0.70      0.71      0.69    174304

In [33]:
# Classification Report for Logistic Regression
from sklearn.metrics import classification_report 
print(classification_report(y_test, y_predictLR))

              precision    recall  f1-score   support

           1       0.71      0.69      0.70     63552
           2       0.74      0.80      0.77     84991
           3       0.65      0.80      0.71     10726
           4       0.49      0.34      0.40       824
           5       0.30      0.01      0.03      2848
           6       0.45      0.22      0.29      5210
           7       0.72      0.55      0.63      6153

    accuracy                           0.72    174304
   macro avg       0.58      0.49      0.51    174304
weighted avg       0.71      0.72      0.71    174304

In [35]:
# Classification Report for KNN
from sklearn.metrics import classification_report 
print(classification_report(y_test,y_predictKnn ))

              precision    recall  f1-score   support

           1       0.94      0.94      0.94     63552
           2       0.94      0.95      0.95     84991
           3       0.93      0.93      0.93     10726
           4       0.85      0.76      0.80       824
           5       0.84      0.81      0.83      2848
           6       0.87      0.86      0.86      5210
           7       0.95      0.94      0.95      6153

    accuracy                           0.94    174304
   macro avg       0.90      0.88      0.89    174304
weighted avg       0.94      0.94      0.94    174304

In [36]:
# Classification Report for SVM
from sklearn.metrics import classification_report 
print(classification_report(y_test,y_predictSVM ))

              precision    recall  f1-score   support

           1       0.94      0.94      0.94     63552
           2       0.94      0.95      0.95     84991
           3       0.93      0.93      0.93     10726
           4       0.85      0.76      0.80       824
           5       0.84      0.81      0.83      2848
           6       0.87      0.86      0.86      5210
           7       0.95      0.94      0.95      6153

    accuracy                           0.94    174304
   macro avg       0.90      0.88      0.89    174304
weighted avg       0.94      0.94      0.94    174304

In [37]:
# Classification Report for Decision Tree
from sklearn.metrics import classification_report 
print(classification_report(y_test,y_predictTree))

              precision    recall  f1-score   support

           1       0.94      0.94      0.94     63552
           2       0.94      0.95      0.95     84991
           3       0.93      0.93      0.93     10726
           4       0.85      0.76      0.80       824
           5       0.84      0.81      0.83      2848
           6       0.87      0.86      0.86      5210
           7       0.95      0.94      0.95      6153

    accuracy                           0.94    174304
   macro avg       0.90      0.88      0.89    174304
weighted avg       0.94      0.94      0.94    174304